---
name: Jacoco Badge Generator

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  call-workflow-passing-data:
    uses: sfuhrm/github_workflows/.github/workflows/jacoco-badge.yml@main
    permissions: write-all
    with:
      java_version: 21
      artifact_name: jacoco-report
      artifact_path: ./radiorecorder/target/site/jacoco/
      jacoco_csv_path: >
        ./radiorecorder/target/site/jacoco/jacoco.csv
    